variables:
  DOCKER_HUB_IMAGE: ${DOCKER_HUB_USER}/${CI_PROJECT_NAME}:${CI_COMMIT_REF_NAME}
  GITLAB_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}

before_script:
  - docker login --username ${DOCKER_HUB_USER} --password ${DOCKER_HUB_PASSWORD}
  - docker login --username ${CI_REGISTRY_USER} --password ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  - docker run --rm --privileged multiarch/qemu-user-static --reset --persistent yes
after_script:
  - docker logout
  - docker logout ${CI_REGISTRY}

build:
  stage: build
  tags:
    - amd64
    - multiarch
  script:
    - mkdir -p ~/.docker/cli-plugins
    - wget -O ~/.docker/cli-plugins/docker-buildx https://github.com/docker/buildx/releases/download/${BUILDX_VERSION}/buildx-${BUILDX_VERSION}.linux-amd64
    - chmod a+x ~/.docker/cli-plugins/docker-buildx
    - docker context create tls-environment
    - docker buildx create --name multiarch-builder --use tls-environment
    - docker buildx inspect --bootstrap
    - docker buildx build --pull --push --platform linux/amd64,linux/arm/v7,linux/arm64/v8 --tag ${DOCKER_HUB_IMAGE} --tag ${GITLAB_IMAGE} .
